html {
  font-family: 'Alegreya', serif;
}
p {
    font-size: 24px;
 }
 
img {
    border-style: none;
    width: 220px;
    height: 200px;
    border-radius: 180px;
    padding: 1%;
}

body {
     text-align: center;
     background-color: rgba(255, 255, 128, .5); 
    }

    /*navigation styling, code given in a class, by Liz Coulter */
    * {
      box-sizing: border-box;
    }
    body {
      font-family: 'Alegreya', serif;      
      line-height: 1.6;
      margin: 0;
      min-height: 100vh;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    
    
    h2,
    h3,
    a {
      color: #34495e;
    }
    
    a {
      text-decoration: none;
    }
    
    .logo {
      margin: 0;
      font-size: 1.45em;
    }
    
    .main-nav {
      margin-top: 5px;
    
    }
    .logo a,
    .main-nav a {
      padding: 10px 15px;
      text-transform: uppercase;
      text-align: center;
      display: block;
    }
    
    .main-nav a {
      color: #34495e;
      font-size: .99em;
    }
    
    .main-nav a:hover {
      color: #718daa;
    }
    
    
    
    .header {
      padding-top: .5em;
      padding-bottom: .5em;
      border: 1px solid #a2a2a2;
      background-color: rgba(255, 255, 128, 0.281);
      -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    
    
    /* ================================= 
      Media Queries
    ==================================== */
    @media (min-width: 769px) {
      .header,
      .main-nav {
        display: flex;
      }
      .header {
        flex-direction: column;
        align-items: center;
        
          .header{
        width: 80%;
        margin: 0 auto;
        max-width: 1150px;
      }
      }
    
    }
  
    
    @media (min-width: 1025px) {
      .header {
        flex-direction: row;
        justify-content: space-between;
      }
    
    }
    
    
  
 .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  .wrapper i {
    padding: 10px;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 150ms;
  }
  .wrapper a:nth-child(1) {
    color: #dd4b39;
  }
  .wrapper a:nth-child(2) {
    color: #4867AA;
  }
  .wrapper a:nth-child(3) {
    color: #1DA1F2;
  }
  .wrapper i:hover {
    margin-top: -3px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
  }
  /* idea how to style social media icons from https://codepen.io/CF-251/pen/eGZLYV  pen by Helen
@CF-251  */

  i.fa::before{
    font-size: 40px;
}
/* updating the font-size of a FA icon using the before pseudo-element. No need for extra wrapper elements or rewriting classes. https://developer.mozilla.org/en-US/docs/Web/CSS/::before */
